body {
  margin: 0;
  --primary-dark: #0d253f;
  --primary-light: #90cea1;
  --ring-light: #5bd3a5;
  --secondary-light:  #5bd3a5;
  --primary-text: #fff;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLightBlue: 1, 180, 228;
  --primary-linear: linear-gradient(
    to right,
    rgba(var(--tmdbLightGreen), 1) 0%,
    rgba(var(--tmdbLightBlue), 1) 100%
  );
  --secondary-linear: linear-gradient(to left, #f9fffb 0%, #3ebdac 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
 

}
body::-webkit-scrollbar {
  width:0em;

}

::-webkit-scrollbar {
  height: 0.5em;
}

::-webkit-scrollbar-track {
border-radius: 100vw;
margin-block: 0.5em ;
}

::-webkit-scrollbar-thumb {

  background: rgb(143, 161, 152);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #686b6b;
 
}


body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
 
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x:auto;
  overflow-y:hidden;

}
.back{
 width: 100%;
  max-width: 1200px;
  margin: auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  padding: 12px 0 ;
  font-weight: 700;
  
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5{
  margin: 0;

}










